@{
    ViewData["Title"] = "Home Page";
}

<ul id="display">

</ul>

<script>
    var Data = HTTPCall("GET", "");
    var displayData = "";
    for (i = 0; i++; i < Data.length) {
        displayData += DisplayContact(Data[i]);
    }
    document.getElementById("display").innerHTML = displayData;
    document.write(displayData);

    function HTTPCall(verb, record) {
    var xmlhttp = new XMLHttpRequest();
        var results = new Array();

    xmlhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var jsonResults = JSON.parse(this.responseText);
            if (verb == "GET" && record == "") {
                for (i = 0; i++; i < jsonResults.length) {
                    results[i] = new Contact(jsonResults[i].contactID, jsonResults[i].firstName, jsonResults[i].lastName, jsonResults[i].email, jsonResults[i].phoneHome, jsonResults[i].phoneWork, jsonResults[i].phoneCell, isActiveRecord);
                }
            }
        }
    };
        var call = "/api/contact";
        call += record;
    xmlhttp.open(verb, call, true);
    xmlhttp.send();
    return results;
    }

    function Contact(ID, firstName, lastName, email, phoneHome, phoneWork, phoneCell, isActiveRecord) {
        this.contactID = ID;
        this.firstName = firstName;
        this.lastName = lastName;
        this.email = email;
        this.phoneHome = phoneHome;
        this.phoneWork = phoneWork;
        this.phoneCell = phoneCell;
        this.isActiveRecord = isActiveRecord;
    }

    function DisplayContact(contact) {
        var result = "";
        result += "<li>" + contact.contactID + " " + contact.firstName + " " + contact.lastName + "</li>";
        return result;
    }



</script>